:root {
  --main-color: #2196f3;
  --main-color-hovered: #45a4f0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-hovered);
}

body {
  height: 100dvh;
  overflow: hidden;
  font-family: cursive;
  background: #000 url(./assets/stars.png) repeat top center;
  color: #fff;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-weight: 700;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  overflow: auto;
  width: 100%;
  padding-right: 1rem;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.progress {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-height: 2em;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
}

.progress-counter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.input {
  width: 100%;
  min-width: 0px;
  color: #fff;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: inherit;
  background: inherit;
  margin: 2px;
  font-weight: bold;
  font-family: inherit;
}

.input::placeholder {
  font-weight: bold;
}

.input:focus {
  z-index: 1;
  border-color: rgb(99, 179, 237);
  box-shadow: rgb(99, 179, 237) 0px 0px 0px 1px;
}

.play-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 38px;
}

.solved {
  background: var(--main-color);
  color: #fff;
}

.credits {
  display: flex;
  justify-content: center;
  gap: 4px;
  text-wrap: nowrap;
}

.link {
  color: var(--main-color);
}

.link:hover {
  color: var(--main-color);
  opacity: 0.8;
  text-decoration: underline;
}

.heart {
  animation: heartbeat 1s infinite;
  display: inline-block;
}

@keyframes heartbeat {
  0%,
  100%,
  40%,
  80% {
    transform: scale(0.8);
  }
  20%,
  60% {
    transform: scale(1.1);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-label {
  display: flex;
  flex-direction: column;
}

.volume-range {
  accent-color: var(--main-color);
  border: 1px solid red;
}

.controls {
  display: flex;
  gap: 1rem;
}

.reset-button {
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 8px;
  font-family: inherit;
}

.reset-button:hover {
  background: var(--main-color-hovered);
}

.easter-egg {
  font-size: 8px;
  opacity: 0.09;
  position: absolute;
  top: 6px;
}

.time-build {
  position: absolute;
  font-size: 10px;
  right: 4px;
  bottom: 4px;
}
